/*
 * uncompressed stylesheet for the skyking-plus user script
 * NOTE: This style will not work properly without the userscript.
 *       The CSS is compressed and embedded in the js file itself.
 *       You must recompress and paste the css in the js file in
 *       order to make changes. Likewise you can overwrite with
 *       a new userstyle.
 */
body {
    background: #111;
    color: #ccc;
    padding: 0;
    margin: 0;
    font-size: 100%;
}
body,
body * {
    font-size: 13px;
    letter-spacing: -1px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: normal;
}
a {
    color: rgb(117, 164, 224)!important;
}
button,
input[type="button"],
.tabs label {
    background: #333;
    color: #ccc;
    text-shadow: 1px 1px 1px #080808;
    box-shadow: 1px 1px 1px #080808;
    border: 1px solid #080808;
}
hr {
    opacity: 0;
}
font[color="red"] {
    color: #fff;
}
select {
    background: #333;
    border: 1px solid #111;
    color: rgba(255, 255, 255, .8);
}
input[type="text"] {
    background: #000;
    color: rgba(255, 255, 255, .8);
    font-family: monospace!important;
    font-size: 1em;
    padding: .25em;
    text-shadow: 1px 1px 1px #080808;
    box-shadow: 1px 1px 1px #080808;
    border: 1px solid #222;
}
.modebutton {
    min-width: 10px;
}
header h1,
header h2 {
    display: inline;
}
header h1 {
    padding-right: 2em;
}
header h2 {
    font-weight: normal;
    color: #989898;
}
#please {
    display: block;
    padding: .5em;
}
#html5choice span {
    color: rgba(255, 255, 255, .6)!important;
}

/*toggles*/
.toggle {
    color: rgb(117, 164, 224)!important;
    cursor: pointer;
    padding: .2em .5em;
    margin-left: 1em;
    display: inline-block;
    background: #222;
    text-shadow: 1px 1px 1px #080808;
    box-shadow: 1px 1px 1px #080808;
    border: 1px solid #080808;
}
.toggle:hover {
    background: #000;
}

/* about */
#contentContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 200px);
    z-index: 10000;
    background: #333;
    padding: 1em;
    overflow-y: scroll;
    border-radius: .5em;
    box-shadow: 5px 5px 5px #000;
    display: none;
}
#contentContainer .mainspan {
    background: transparent;
}
#soundappletdiv div {
    background: transparent!important;
}

/*tabs*/
#tabsWrapper {
    height: 58%;
    width: 43%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #111;
}
#tabsWrapper .tabs label {
    border-radius: 0;
}
#tabsWrapper .tabs label[for="tab-0"],
#tabsWrapper .tabs label[for="tab-7"] {
    /*hide waterfall tab*/
    display: none;
}
#tabsWrapper .tabs .tab {
    background: transparent;
    border: 0;
}
#tabsWrapper .tabs .tab-0,
#tabsWrapper .tabs .tab-7 {
    display: none;
    /*hide the first and last tabs which have had their content moved to another area*/
}
#memories table {
    color: rgba(0, 0, 0, .8);
}
#memories table .membutton {
    height: auto;
    line-height: 1.2em;
}
#chatbox {
    background-color: rgba(0, 0, 0, 1)!important;
    color: rgba(255, 255, 255, .5)!important;
    height: 200px!important;
}
#chatboxspan span,
#chatboxspan font,
#chatboxspan b {
    display: none;
}
#chatboxspan span#chatboxchallenge {
    display: inline;
}
#users {
    height: 200px;
    overflow-y: scroll;
}
div.tabs div.tab:nth-of-type(5) iframe,
div.tabs div.tab:nth-of-type(6) iframe {
    height: 200px!important;
}
div.tab {
    border: 1px solid rgba(255, 255, 255, .1);
}
div.tabs [type=radio]:checked + label {
    background: #3e3e3e;
}
div.tabs label:hover {
    background: #5f5d5d;
}
div.tabs label {
    background: #252525;
    cursor: pointer;
}

/*change chat tab highlight to a darker color... there are no identifiers other than an inline style triggered by javascript... can't be helped desu*/
div.tabs label[style="background: rgb(204, 255, 255) none repeat scroll 0% 0%;"],
div.tabs label[style="background: rgb(204, 255, 255);"] {
    background: #8e2c2c!important;
}

/*controls*/
#mainControlsWrapper {
    width: 55%;
    height: 58%;
    overflow: hidden;
    background: #111;
    position: fixed;
    z-index: 6000;
    bottom: 0;
    right: 0;
}
#mainControlsWrapper .ctl,
#advancedControls {
    display: block;
    background: transparent;
    margin: 0 .3em .3em 0;
    padding: .5em;
}
.controls-panel form[name="viewform"] {
    display: block;
    margin-bottom: .5em;
    padding: .5em 0;
    border-top: 1px solid #080808;
    border-bottom: 1px solid #080808;
}
.controls-panel form[name="viewform"] .ctl {
    display: inline!important;
}
.controls-panel #html5choice {
    position: relative!important;
}
.ctl.ctl-3,
.ctl.ctl-4,
.ctl.ctl-5 {
    float: left;
    height: 100px;
}
.ctl.ctl-6 {
    /* this control appears to be redundant with another*/
    display: none!important;
}
.ctl.ctl-7,
.ctl.ctl-8,
.ctl.ctl-9,
.ctl.ctl-10 {
    border-right: 1px solid #080808;
}
.ctl.ctl-7,
.ctl.ctl-8,
.ctl.ctl-9,
.ctl.ctl-10 {
    float: left;
    height: 150px;
}
.ctl.ctl-11,
.ctl.ctl-12,
.ctl.ctl-13,
.ctl.ctl-14 {
    float: left;
    min-height: 50px;
}
input[type="range"] {
    width: 80px!important;
}

/*keyboard controls list*/
.keylist {
    background-color: #333;
    border: 1px solid #000;
}

/*advanced controls*/
#advancedControls {
    float: left;
    width: auto;
}
input[name="frequency"] {
    font-size: 15px!important;
}
form[name="viewform"] {
    display: block;
    clear: both;
}
form[name="viewform"] #html5choice {
    float: none!important;
}
form[name="viewform"] br {
    display: none;
}
.panel .controls-panel {
    float: none;
    clear: both;
    margin: 0;
    position: relative;
    overflow: auto;
}
#controlsLeftPanel {
    padding: .5em .5em 0 .5em;
}
#controlsRightPanel {
    padding: 0 .5em .5em .5em;
}
button[style="background: rgb(170, 170, 170);"],
button[style="background: rgb(170, 170, 170) none repeat scroll 0% 0%;"] {
    background: #8e2c2c!important;
}

/*waterfall*/
#waterfallPanel {
    width: 100%;
}
#waterfallPanel #maincontrols {
    background: transparent;
}
#maincontrols {
    text-align: center;
}
#maincontrols #wfccontainer {
    display: inline-block;
    position: relative;
    margin-top: 4%;
}
#maincontrols #wfccontainer.full-width {
    display: block;
    margin: 0;
    height: auto;
}
#maincontrols #wfcdiv0 {
    text-align: left;
}

/*media queries*/
@media (max-height: 1200px) and (max-width: 900px) {
    #mainControlsWrapper {
        position: relative;
        height: auto;
        width: 100%;
    }
    #tabsWrapper {
        position: relative;
        height: auto;
        width: 100%;
    }
}
@media (max-width: 1600px) {
    #mainControlsWrapper {
        overflow-y: scroll;
    }
}

